.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  color: #dadada; 
  font-family: 'Graphik', sans-serif; 
  font-size: 14px;
  line-height: 16px; 
  position: absolute;
  width: 25%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 0px;
}

 
.map-overlay .map-overlay-inner {
  background-color: #1e2023;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
 
.map-overlay h2 {
  line-height: 24px;
  font-weight: 700; 
  display: block;
  margin: 0 0 10px;
  text-align: center;
  font-weight: normal;
  font-size: 15px; 
  font-weight: 700; 
  } 
 
.map-overlay input[type="range"] {  
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #cecece;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
}


.map-overlay input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #7b2282;
  cursor: pointer;
}


.map-overlay input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #7b2282;
  cursor: pointer;
}
.mapbox-improve-map {
    display: none;
}
.mapboxgl-ctrl-attrib { 
  color: #7b2282; 
  font-family: 'Graphik', sans-serif; 
  font-size: 12px; 
  line-height: 24px; 
  margin: 0 0 24px; 
  text-align: justify; 
  text-justify: inter-word; 
  background: #cecece88 !important;
}

.map-slider-container {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 1;
  width: 150px;
  background-color: #1e2023;
  border-radius: 3px;
  padding: 10px;
}

.map-slider-container input[type="range"] {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 10px;
}

.map-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #7b2282;
  cursor: pointer;
}

.map-slider-container input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7b2282;
  cursor: pointer;
}

#radius-label {
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #d3d3d3;
}

#radius-value {
  font-weight: bold;
}

.map-slider-container input[type="range"],
.map-slider-container #radius-label {
font-family: 'Graphik', sans-serif;
}

#data-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1; 
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.mapboxgl-ctrl-group {
  background-color: #a1a1a1;   
}

.mapboxgl-popup-content {
  color: #dadada; 
  font-family: 'Graphik', sans-serif; 
  background-color: #1e2023; 
  border-radius: 10px; 
  padding: 10px; 
  max-width: 250px; 
}
  
  .mapboxgl-popup-tip {
    border-top-color: False;
  }

.mapboxgl-popup-content h3 {
  margin-top: 0; 
  font-size: 15px;
}

.mapboxgl-popup-content p {
  margin-bottom: 5px; 
  font-size: 13px;
}

.mapboxgl-popup-close-button {
  font-size: 23px; 
  color: #dadada;
  
}

.mapboxgl-popup-tip {
  border-top-color: #1e2023 !important;  
}

#month {
  margin-top: 10px; 
  display: block; 
}
.mapboxgl-popup-content img {
  display: block; 
  margin: 0 auto; 
  max-width: 100%; 
  max-height: 100%; 
}

#top-polygons-container {
  min-width: 200px; 
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  background-color: #dadada;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: 'Graphik', sans-serif;
}

#top-polygons-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#top-polygons-list li {
  margin-bottom: 5px;
  cursor: pointer;
}

#top-polygons-container {
  color: #dadada;
  background-color: #1e2023;
  font-size: 14px;
  font-family: 'Graphik', sans-serif;
}

#toggle-top-button {
  font-family: 'Graphik', sans-serif;
  font-size: 15px;
  cursor: pointer;
  background-color: #18181800;
  color: #ffffff;
  border: none;
  
  border-radius: 4px;
  
}

.close-button {
  font-family: 'Graphik', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #100f0f;
  color: #868686;
  border: none;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
}

.location-details {
  font-size: 14px;
  color: #666;
  margin-top: 7px;
  
}
